body {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  background-color: #f7f7f7;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  position: relative;
}
a {
  text-decoration: none;
}
h2 {
  font-weight: 400;
  margin: 0;
}

#faqs {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
#search {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  height: 44px;
  width: 500px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #fff;
}
#search:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
#search input[type=search] {
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding-left: 20px;
  outline: none;
}
#search button[type=submit] {
  fill: #3E85F4;
  height: 28px;
  width: 28px;
  padding: 0 10px;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  outline: none;
}
#info {
  font-size: small;
  color: #808080;
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
}
#results {
  overflow: auto;
  margin: 10px 0 20px 0;
  flex: 1;
}
#results:not(:empty) {
  border-top: solid 1px #eee;
}
#results:empty::before,
#results[data-size="0"]::before {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #808080;
}
#results:empty::before {
  content: attr(data-empty);
}
#results[data-size="0"]::before {
  content: 'no match in your tabs!';
}
.result {
  margin: 10px 20px;
  overflow: hidden;
}
.result a {
  user-select: none;
}
.result a h2 {
  display: flex;
  align-items: center;
}
.result a:hover h2 span[data-id="title"] {
  text-decoration: underline;
}
.result a h2 span[data-id="title"] {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result a cite {
  color: #006621;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.result p {
  margin: 0;
}
.result p:empty::before {
  content: 'Preview is not supported for this entry';
}
.result img {
  width: 16px;
  margin-right: 5px;
}
.result h2 span[data-id="number"],
.result h2 code {
  margin-left: 10px;
  color: #fff;
  padding: 1px 5px;
  font-size: 11px;
  font-family: arial, sans-serif;
  text-align: center;
}
.result h2 code {
  min-width: 32px;
}
.result h2 span[data-id="number"] {
  min-width: 20px;
  background-color: gray;
}
